In [1]:
import pandas as pd
import numpy as np

In [2]:
africa = pd.read_excel('Africa_1997-2023_2023-04-28.xlsx')

In [3]:
latin_america = pd.read_excel('LatinAmerica_2018-2023_2023-04-28.xlsx')

In [4]:
middle_east = pd.read_excel('MiddleEast_2015-2023_2023-04-28.xlsx')

In [5]:
europe_central_asia = pd.read_excel('Europe-Central-Asia_2018-2023_Apr28-1.xlsx')

In [6]:
asia_pacific = pd.read_excel('Asia-Pacific_2018-2023_Apr28-1.xlsx')

In [7]:
usa_canada = pd.read_excel('USA_Canada_2020_2023_Apr28-1.xlsx')

In [6]:
frames = [africa, latin_america, middle_east, europe_central_asia, asia_pacific, usa_canada]

all_data = pd.concat(frames)

all_data.to_csv('all_data', encoding='utf-8')

NameError: name 'africa' is not defined

In [45]:
a = pd.read_csv('HDIAll.csv')

/Users/nalliennallien/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (23) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [46]:
a.shape

(1757637, 35)

In [50]:
otobr_dannie = a.drop(['Unnamed: 0.1.1','Unnamed: 0','Unnamed: 0.1','EVENT_ID_CNTY','EVENT_DATE','ASSOC_ACTOR_2','ASSOC_ACTOR_1' ,'TIME_PRECISION', 'INTER1', 'INTER2', 'INTERACTION', 'ISO', 'REGION', 'ADMIN1' , 'ADMIN1', 'ADMIN2', 'ADMIN3', 'LOCATION', 'LATITUDE', 'LONGITUDE','GEO_PRECISION', 'SOURCE', 'SOURCE_SCALE', 'TAGS', 'TIMESTAMP'], axis=1)

In [51]:
a.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1', 'EVENT_ID_CNTY',
       'EVENT_DATE', 'YEAR', 'TIME_PRECISION', 'DISORDER_TYPE', 'EVENT_TYPE',
       'SUB_EVENT_TYPE', 'ACTOR1', 'ASSOC_ACTOR_1', 'INTER1', 'ACTOR2',
       'ASSOC_ACTOR_2', 'INTER2', 'INTERACTION', 'CIVILIAN_TARGETING', 'ISO',
       'REGION', 'COUNTRY', 'ADMIN1', 'ADMIN2', 'ADMIN3', 'LOCATION',
       'LATITUDE', 'LONGITUDE', 'GEO_PRECISION', 'SOURCE', 'SOURCE_SCALE',
       'NOTES', 'FATALITIES', 'TAGS', 'TIMESTAMP', 'HDI'],
      dtype='object')

In [53]:
otobr_dannie.to_csv('otobr_dannie.csv', encoding='utf-8')

In [1]:
bb = otobr_dannie[(otobr_dannie['COUNTRY'] =='Algeria') & (otobr_dannie['YEAR'] ==1997)]

NameError: name 'otobr_dannie' is not defined

In [62]:
hdi_2023 = pd.read_csv('HDI_223.csv')

In [68]:
hdi_2023.columns

Index(['place', 'pop2023', 'growthRate', 'area', 'country', 'cca3', 'cca2',
       'ccn3', 'region', 'subregion', 'landAreaKm', 'density', 'densityMi',
       'Rank', 'hdiTier', 'hdi2021', 'hdi2020', 'hdi2019', 'hdi2010',
       'hdi2000', 'hdiGrowth', 'rank'],
      dtype='object')

In [77]:
otobr_dannie['DISORDER_TYPE'].unique()

array(['Political violence', 'Demonstrations', 'Strategic developments',
       'Political violence; Demonstrations'], dtype=object)

In [3]:
df = pd.read_csv('otobr_dannie.csv')

In [6]:
df

,Unnamed: 0,YEAR,DISORDER_TYPE,EVENT_TYPE,SUB_EVENT_TYPE,ACTOR1,ACTOR2,CIVILIAN_TARGETING,COUNTRY,NOTES,FATALITIES,HDI
0,0,1997,Political violence,Violence against civilians,Attack,GIA: Armed Islamic Group,Civilians (Algeria),Civilian targeting,Algeria,5 January: Beheading of 5 citizens in Douaouda...,5,0.745
1,1,1997,Political violence,Violence against civilians,Attack,GIA: Armed Islamic Group,Civilians (Algeria),Civilian targeting,Algeria,Two citizens were beheaded in Hassasna.,2,0.745
2,2,1997,Political violence,Violence against civilians,Attack,GIA: Armed Islamic Group,Civilians (Algeria),Civilian targeting,Algeria,Two citizens were killed in a raid on the vill...,2,0.745
3,3,1997,Political violence,Violence against civilians,Attack,GIA: Armed Islamic Group,Civilians (Algeria),Civilian targeting,Algeria,4 January: 16 citizens were murdered in the vi...,16,0.745
4,4,1997,Political violence,Violence against civilians,Attack,GIA: Armed Islamic Group,Civilians (Algeria),Civilian targeting,Algeria,5 January: Killing of 18 citizens in the Olivi...,18,0.745
...,...,...,...,...,...,...,...,...,...,...,...,...
1757632,1757632,2023,Demonstrations,Protests,Peaceful protest,Protesters (United States),NaN,NaN,United States,"On 28 April 2023, hundreds of protesters inclu...",0,NaN
1757633,1757633,2023,Demonstrations,Protests,Peaceful protest,Protesters (United States),NaN,NaN,United States,"On 28 April 2023, Postal Service workers gathe...",0,NaN
1757634,1757634,2023,Demonstrations,Protests,Peaceful protest,Protesters (United States),NaN,NaN,United States,"On 28 April 2023, US Postal Service workers af...",0,NaN
1757635,1757635,2023,Demonstrations,Protests,Peaceful protest,Protesters (United States),NaN,NaN,United States,"On 28 April 2023, employees with APWU rallied ...",0,NaN
1757636,1757636,2023,Demonstrations,Protests,Peaceful protest,Protesters (United States),NaN,NaN,United States,"On 28 April 2023, more than a score of US Post...",0,NaN

In [2]:
final = pd.read_csv('project_final.csv')

/Users/nalliennallien/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (23,35) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
final.loc[1703061 :1757636, 'classification'] = 'High income'

In [4]:
final.loc[1382665 :1387004, 'classification'] = 'High income'

In [5]:
final.loc[1369548 :1382664, 'classification'] = 'Upper middle income'

In [6]:
final.loc[1698800 :1698816, 'index'] = 0.981

In [7]:
final.loc[1382665 :1387004, 'index'] = 0.907

In [8]:
final.loc[1382428 :1382664, 'index'] = 0.77

In [9]:
final.loc[1381323 :1382427, 'index'] = 0.768

In [10]:
final = final.drop(np.arange(1703047, 1703060+1))

In [11]:
final = final.drop(np.arange(1698766, 1698778+1))

In [12]:
final = final.drop(1698762)

In [13]:
final = final.drop([1588508,1588509])

In [14]:
final = final.drop([1387007,1387008])

In [15]:
final = final.drop([1387005, 1387006])

In [16]:
final = final.drop(np.arange(1287956, 1287962+1))

In [17]:
final.classification.unique()

array(['Lower middle income', 'Upper middle income', 'Low income', nan,
       'High income'], dtype=object)

In [18]:
# Чиним турцию 
indes = [0.82, 0.83, 0.84, 0.84, 0.83, 0.84, 0.84, 0.84]

years = np.arange(2016, 2024)
for i in range(len(years)): 
    ind = final[(final['COUNTRY'] == 'Turkey') & (final['YEAR'] == years[i])].index
    final.loc[ind, 'index'] = indes[i]
    final.loc[ind, 'classification'] = 'Upper middle income'

In [19]:
# Чиним Венесуэлу 
indes = [0.74, 0.72, 0.69, 0.69, 0.65, 0.64]
clases = ['Upper middle income', 'Upper middle income', 'Lower middle income', 'Lower middle income', 'Lower middle income', 'Lower middle income']
years = np.arange(2018, 2024)
for i in range(len(years)): 
    ind = final[(final['COUNTRY'] == 'Venezuela') & (final['YEAR'] == years[i])].index
    final.loc[ind, 'index'] = indes[i]
    final.loc[ind, 'classification'] = clases[i]

In [20]:
# дем. рес. конго
indes = [0.37, 0.37, 0.38, 0.37, 0.38, 0.37, 0.38, 0.38, 0.39, 0.40, 0.40, 0.41, 0.42, 0.42, 0.43, 0.44, 0.44, 0.45, 0.46, 0.46, 0.47, 0.47, 0.48, 0.48, 0.48, 0.48, 0.48]
clases = ['Low income' for j in range(27)]
years = np.arange(1997, 2024)
for i in range(len(years)): 
    ind = final[(final['COUNTRY'] == 'Democratic Republic of Congo') & (final['YEAR'] == years[i])].index
    final.loc[ind, 'index'] = indes[i]
    final.loc[ind, 'classification'] = clases[i]

In [21]:
# чиним Кот-д'Ивуар
indes = [0.46, 0.46, 0.46, 0.46, 0.46, 0.45, 0.45, 0.46, 0.46, 0.46, 0.46, 0.46, 0.47, 0.47, 0.47, 0.47, 0.48, 0.48, 0.50, 0.51, 0.52, 0.53, 0.54, 0.55, 0.55, 0.55, 0.55]
clases = ['Low income' for j in range(11)] + ['Lower middle income' for j in range(16)]
years = np.arange(1997, 2024)
for i in range(len(years)): 
    ind = final[(final['COUNTRY'] == 'Ivory Coast') & (final['YEAR'] == years[i])].index
    final.loc[ind, 'index'] = indes[i]
    final.loc[ind, 'classification'] = clases[i]

In [22]:
# чиним Македонию 
indes = [0.779, 0.779, 0.779,0.779, 0.779, 0.7]
years = np.arange(2018, 2024)
for i in range(len(years)): 
    ind = final[(final['COUNTRY'] == 'North Macedonia') & (final['YEAR'] == years[i])].index
    final.loc[ind, 'index'] = indes[i]
    final.loc[ind, 'classification'] = 'Upper middle income'

In [23]:
# чиним Saint Kitts and Nevis
ind = final[final['COUNTRY'] == 'Saint Kitts and Nevis'].index
final = final.drop(ind)

In [24]:
# удаляем мусор: 

nuli = []
for el in final['COUNTRY'].unique():
    if sum(final[final['COUNTRY'] == el]['classification'].isnull()):
        nuli.append(el)

ll_del = []
ll_find = []
for i in nuli:
    n_n = final[final['COUNTRY'] == i].shape[0]
    if n_n < 550:
        ll_del.append(i)

    else:
        ll_find.append(i)


for i in ll_del:
    ind = final[(final['COUNTRY'] == i)].index
    final = final.drop(ind)

In [27]:
nuli = []
for el in final['COUNTRY'].unique():
    if sum(final[final['COUNTRY'] == el]['index'].isnull()):
        nuli.append(el)

In [28]:
all_naul = []
popravki_vse = []
popravki_chast = []
for i in nuli:
    a = final[final['COUNTRY'] == i]
    if a['index'].sum() == 0:
        n_n = final[final['COUNTRY'] == i].shape[0]
        if n_n <= 500:
            ind = final[(final['COUNTRY'] == i)].index
            final = final.drop(ind)
        else: 
            popravki_vse.append(i)
    else:
        popravki_chast.append(i)

In [29]:
# поправим индекс
for can in popravki_chast:
    value = final[(final['COUNTRY'] == can) & (final['YEAR'] == 2021)]['index'].iloc[0]

    ind_22 = final[(final['COUNTRY'] == can) & (final['YEAR'] == 2022)]['index'].index
    ind_23 = final[(final['COUNTRY'] == can) & (final['YEAR'] == 2023)]['index'].index
    final.loc[ind_22, 'index'] = value
    final.loc[ind_23, 'index'] = value

In [30]:
# поправим анголу
indes = [0, 0.353, 0.356, 0.354, 0.364, 0.375, 0.386, 0.403, 0.420, 0.433, 0.447, 0.459, 0.475, 0.486, 0.500, 0.510, 0.526, 0.541, 0.552, 0.563, 0.582, 0.596, 0.597, 0.595, 0.595, 0.590,0.586]
years = np.arange(1997, 2012)
for i in range(len(years)): 
    ind = final[(final['COUNTRY'] == 'Angola') & (final['YEAR'] == years[i])].index
    final.loc[ind, 'index'] = indes[i]

In [31]:
# чиним чад
indes = [0.288, 0.288, 0.288, 0.291, 0.301, 0.307, 0.307, 0.325, 0.327, 0.327, 0.337, 0.341, 0.355, 0.362, 0.372]
years = np.arange(1997, 2012)
for i in range(len(years)): 
    ind = final[(final['COUNTRY'] == 'Chad') & (final['YEAR'] == years[i])].index
    final.loc[ind, 'index'] = indes[i]

In [32]:
# чиним Equatorial Guinea
years = [1997, 1998]
for i in range(len(years)): 
    ind = final[(final['COUNTRY'] == 'Equatorial Guinea') & (final['YEAR'] == years[i])].index
    final = final.drop(ind)

In [33]:
# чиним Ethiopia
indes = [0, 0, 0, 0.287, 0.301,0.309,0.313,0.327,0.346,0.363,0.380,0.395,0.402,0.412,0.422,0.430,0.441,0.450,0.460,0.470,0.480,0.489,0.498,0.498,0.498, 0.499, 0.498]
years = np.arange(1997, 2024)
for i in range(len(years)): 
    ind = final[(final['COUNTRY'] == 'Ethiopia') & (final['YEAR'] == years[i])].index
    final.loc[ind, 'index'] = indes[i]

In [34]:
# чиним Eritrea
years = np.arange(1997, 2002)
for i in range(len(years)): 
    ind = final[(final['COUNTRY'] == 'Eritrea') & (final['YEAR'] == years[i])].index
    final = final.drop(ind)

In [35]:
# чиним Liberia
years = np.arange(1997, 1999)
for i in range(len(years)): 
    ind = final[(final['COUNTRY'] == 'Liberia') & (final['YEAR'] == years[i])].index
    final = final.drop(ind)

In [36]:
# чиним Madagascar
years = np.arange(1997, 1999)
for i in range(len(years)): 
    ind = final[(final['COUNTRY'] == 'Madagascar') & (final['YEAR'] == years[i])].index
    final = final.drop(ind)

In [37]:
# чиним Nigeria
indes = [0.393, 0.393, 0.455, 0.455,0.455, 0.455]
years = np.arange(1997, 2003)
for i in range(len(years)): 
    ind = final[(final['COUNTRY'] == 'Nigeria') & (final['YEAR'] == years[i])].index
    final.loc[ind, 'index'] = indes[i]

In [38]:
# чиним Guinea-Bissau

indes = [0.291, 0.299, 0.311, 0.512,0.522,0.534,0.537, 0.545]
years = np.arange(1997, 2005)
for i in range(len(years)): 
    ind = final[(final['COUNTRY'] == 'Guinea-Bissau') & (final['YEAR'] == years[i])].index
    final.loc[ind, 'index'] = indes[i]

In [39]:
# чиним eSwatini
ind = final[(final['COUNTRY'] == 'eSwatini')].index
final = final.drop(ind)

In [40]:
# чиним Burkina Faso
years = np.arange(1997, 1999)
for i in range(len(years)): 
    ind = final[(final['COUNTRY'] == 'Burkina Faso') & (final['YEAR'] == years[i])].index
    final = final.drop(ind)

In [41]:
# чиним Puerto Rico
ind = final[(final['COUNTRY'] == 'Puerto Rico')].index
final = final.drop(ind)

In [42]:
# чиним Kosovo
ind = final[(final['COUNTRY'] == 'Kosovo')].index
final = final.drop(ind)

In [53]:
# чиним Palestine
indes = [0.650, 0.613, 0.623, 0.643, 0.645, 0.648, 0.652, 0.651, 0.662, 0.663, 0.672, 0.677, 0.682, 0.687, 0.694, 0.701, 0.703, 0.698, 0.710, 0.715, 0.719, 0.723, 0.727, 0.716, 0.715, 0.714,0.711]
years = np.arange(1997, 2024)
for i in range(len(years)): 
    ind = final[(final['COUNTRY'] == 'Palestine') & (final['YEAR'] == years[i])].index
    final.loc[ind, 'index'] = indes[i]

In [44]:
# чиним Czech Republic
indes = [0.892, 0.889, 0.890, 0.891]
years = np.arange(2020, 2024)
for i in range(len(years)): 
    ind = final[(final['COUNTRY'] == 'Czech Republic') & (final['YEAR'] == years[i])].index
    final.loc[ind, 'index'] = indes[i]

In [45]:
# чиним Vietnam
indes = [0.663,0.668,0.672,0.676,0.680,0.684,0.688,0.692,0.697,0.703,0.710,0.703, 0.701, 0.695]
years = np.arange(2010, 2024)
for i in range(len(years)): 
    ind = final[(final['COUNTRY'] == 'Vietnam') & (final['YEAR'] == years[i])].index
    final.loc[ind, 'index'] = indes[i]

In [47]:
# поправляем Сомали 
indes = [0, 0.1, 0.1, 0.12, 0.2, 0.217, 0.226,0.230,0.232,0.240,0.253,0.285,0.315,0.341,0.360,0.378,0.396,0.399,0.405,0.409,0.415,0.420,0.428,0.436,0.444,0.444,0.444]
years = np.arange(1997, 2024)
for i in range(len(years)): 
    ind = final[(final['COUNTRY'] == 'Somalia') & (final['YEAR'] == years[i])].index
    final.loc[ind, 'index'] = indes[i]

In [54]:
nuli = []
for el in final['COUNTRY'].unique():
    if sum(final[final['COUNTRY'] == el]['index'].isnull()):
        nuli.append(el)
        
nuli

[]

In [49]:
ll_del = []
ll_find = []
for i in nuli:
    n_n = final[final['COUNTRY'] == i].shape[0]
    if n_n < 550:
        ll_del.append(i)
        ll_del.append(n_n)
    else:
        ll_find.append(i)
        ll_find.append(n_n)

In [57]:
final

,EVENT_ID_CNTY,EVENT_DATE,YEAR,TIME_PRECISION,DISORDER_TYPE,EVENT_TYPE,SUB_EVENT_TYPE,ACTOR1,ASSOC_ACTOR_1,INTER1,...,LONGITUDE,GEO_PRECISION,SOURCE,SOURCE_SCALE,NOTES,FATALITIES,TAGS,TIMESTAMP,index,classification
0,ALG1,1997-01-01,1997,1,Political violence,Violence against civilians,Attack,GIA: Armed Islamic Group,NaN,2,...,2.789,1,Algeria Watch,Other,5 January: Beheading of 5 citizens in Douaouda...,5,NaN,1582579226,0.624,Lower middle income
1,ALG2,1997-01-02,1997,1,Political violence,Violence against civilians,Attack,GIA: Armed Islamic Group,NaN,2,...,0.883,1,Algeria Watch,Other,Two citizens were beheaded in Hassasna.,2,NaN,1582579226,0.624,Lower middle income
2,ALG3,1997-01-03,1997,1,Political violence,Violence against civilians,Attack,GIA: Armed Islamic Group,NaN,2,...,-0.290,1,Algeria Watch,Other,Two citizens were killed in a raid on the vill...,2,NaN,1582579226,0.624,Lower middle income
3,ALG4,1997-01-04,1997,1,Political violence,Violence against civilians,Attack,GIA: Armed Islamic Group,NaN,2,...,2.829,1,Algeria Watch,Other,4 January: 16 citizens were murdered in the vi...,16,NaN,1582579226,0.624,Lower middle income
4,ALG5,1997-01-05,1997,1,Political violence,Violence against civilians,Attack,GIA: Armed Islamic Group,NaN,2,...,2.789,1,Algeria Watch,Other,5 January: Killing of 18 citizens in the Olivi...,18,NaN,1582579226,0.624,Lower middle income
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1757632,USA55453,2023-04-28,2023,1,Demonstrations,Protests,Peaceful protest,Protesters (United States),NEA: National Education Association; Teachers ...,6,...,-72.590,1,Republican (Springfield),Subnational,"On 28 April 2023, hundreds of protesters inclu...",0,crowd size=hundreds,1683060741,0.921,High income
1757633,USA55458,2023-04-28,2023,1,Demonstrations,Protests,Peaceful protest,Protesters (United States),Labor Group (United States); APWU: American Po...,6,...,-82.457,1,10 Tampa Bay,Subnational,"On 28 April 2023, Postal Service workers gathe...",0,crowd size=no report,1683060741,0.921,High income
1757634,USA55463,2023-04-28,2023,1,Demonstrations,Protests,Peaceful protest,Protesters (United States),APWU: American Postal Workers Union; Labor Gro...,6,...,-95.678,1,WIBW-TV13,Subnational,"On 28 April 2023, US Postal Service workers af...",0,crowd size=no report,1683060741,0.921,High income
1757635,USA55470,2023-04-28,2023,1,Demonstrations,Protests,Peaceful protest,Protesters (United States),APWU: American Postal Workers Union; Labor Gro...,6,...,-76.976,1,ABC7 (Washington D.C.); APWU,Other-Subnational,"On 28 April 2023, employees with APWU rallied ...",0,crowd size=no report,1683060741,0.921,High income
1757636,USA55475,2023-04-28,2023,1,Demonstrations,Protests,Peaceful protest,Protesters (United States),APWU: American Postal Workers Union; Labor Gro...,6,...,-92.343,1,KCRG-TV9; Waterloo-Cedar Falls Courier,Subnational,"On 28 April 2023, more than a score of US Post...",0,crowd size=more than a score,1683060741,0.921,High income

In [56]:
final = final.drop(columns=['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1'])

In [58]:
final.to_csv('chistoe.csv', encoding='utf-8')