# Парсинг экономической классификации страны

На данном этапе мы запарсили [сайт](https://flo.uri.sh/visualisation/6583499/embed?auto=1), чтобы по всем возможным годам получить категориальный индекс Classification, который в дальнейшем послужит целевой переменной. Для работы мы использовали библиотеку __requests__.

Опять же, работа с кодом чисто техническая. В конце мы присоединили полученную таблицу к той, что получили при парсинге индекса человеческого развития для того, чтобы объединить с основным датафреймом

In [1]:
import pandas as pd
!pip install beautifulsoup4
!pip install requests

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4) (2.3.2.post1)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.28.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (1.26.14)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2022.12.7)

In [2]:
import requests
from bs4 import BeautifulSoup as bs

In [3]:
URL_TEMPLATE = "https://flo.uri.sh/visualisation/6583499/embed?auto=1"
r = requests.get(URL_TEMPLATE)
print(r.status_code)

200

In [24]:
#r.find

In [11]:
a = r.text.split('"name":')
b = a[5:]

In [12]:
blistic = []
for i in range(len(b)):
    blistic.append(b[i].split(',{"geometry"')[0])

blistic = blistic[:-2]

In [13]:
names = []
znach = []
for i in range(len(blistic)):
    a = blistic[i].split('"value":')
    names.append(a[0][1:-2])
    b = a[1].split(',')
    l = []
    l.append(b[2][1:-1])
    for j in range(2 , len(b)-1):
        l.append(b[j][1:-1])
    l.append(b[-1][1:-3])

    znach.append(l)

In [14]:
len(znach[0])

35

In [15]:
znach[-1][34]

'Lower middle income'

In [16]:
year_1987 = []
year_1988 = []
year_1989 = []
year_1990 = []
year_1991 = []
year_1992 = []
year_1993 = []
year_1994 = []
year_1995 = []
year_1996 = []
year_1997 = []
year_1998 = []
year_1999 = []
year_2000 = []
year_2001 = []
year_2002 = []
year_2003 = []
year_2004 = []
year_2005 = []
year_2006 = []
year_2007 = []
year_2008 = []
year_2009 = []
year_2010 = []
year_2011 = []
year_2012 = []
year_2013 = []
year_2014 = []
year_2015 = []
year_2016 = []
year_2017 = []
year_2018 = []
year_2019 = []
year_2020 = []
year_2021 = []

for i in znach:
    year_1987.append(i[0])
    year_1988.append(i[1])
    year_1989.append(i[2])
    year_1990.append(i[3])
    year_1991.append(i[4])
    year_1992.append(i[5])
    year_1993.append(i[6])
    year_1994.append(i[7])
    year_1995.append(i[8])
    year_1996.append(i[9])
    year_1997.append(i[10])
    year_1998.append(i[11])
    year_1999.append(i[12])
    year_2000.append(i[13])
    year_2001.append(i[14])
    year_2002.append(i[15])
    year_2003.append(i[16])
    year_2004.append(i[17])
    year_2005.append(i[18])
    year_2006.append(i[19])
    year_2007.append(i[20])
    year_2008.append(i[21])
    year_2009.append(i[22])
    year_2010.append(i[23])
    year_2011.append(i[24])
    year_2012.append(i[25])
    year_2013.append(i[26])
    year_2014.append(i[27])
    year_2015.append(i[28])
    year_2016.append(i[29])
    year_2017.append(i[30])
    year_2018.append(i[31])
    year_2019.append(i[32])
    year_2020.append(i[33])
    year_2021.append(i[34])

In [17]:
data = {'1987': year_1987, '1988': year_1988 , '1989': year_1989, '1990': year_1990, '1991':year_1991 , '1992':year_1992 , '1993': year_1993, '1994': year_1994, '1995': year_1995, '1996': year_1996, '1997': year_1997, '1998': year_1998, '1999': year_1999, '2000': year_2000, '2001': year_2001, '2002': year_2002, '2003': year_2003, '2004': year_2004, '2005': year_2005, '2006': year_2006, '2007': year_2007, '2008': year_2008, '2009': year_2009, '2010': year_2010, '2011':year_2011, '2012':year_2012, '2013':year_2013, '2014':year_2014, '2015':year_2015, '2016':year_2016, '2017':year_2017, '2018': year_2018, '2019': year_2019, '2020':year_2020, '2021':year_2021, '2022':year_2021, '2023':year_2021}
df = pd.DataFrame(data=data, index=names)

In [18]:
df.to_csv('classification', encoding='utf-8')

In [20]:
#a = pd.read_csv('HDI.csv')

In [22]:
#a.to_csv('HDIAll', encoding='utf-8')